* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.125rem;
    background-color: #008080;
}

.hero {
    width: 80%;
    margin: 80px auto; 
}

.hero h1 {
    color: #ffe33d;
    font-size: 3rem;
    padding-bottom: 4rem;
}

.container {
    display: flex;
    gap: 10%;
}

.feature-img {
    width: 70%;
    position: relative;
}

.feature-img img {
    max-height: 500px;
    object-fit: cover;
    object-position: top;
}

.play-btn {
    width: 60px;
    display: inline-block;
    color: white;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.play-btn:hover {
    background-color: azure;
    border-radius: 50%;
}

.feature-img img {
    border-radius: 6px;
}

.sidebar {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    background-color: azure;
    margin-bottom: 1rem;
    border-radius: 6px;
}

.sidebar-img {
    position: relative;
    height: 12vh;
}

.thumbnail {
    width: 100px;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 0 0 6px;
}

.small {
    width: 40px;
}

.sidebar p {
    margin-left: 10px;
    font-size: 0.9rem;
}

.song {
    font-size: 0.7rem;
    opacity: .7;
    line-height: 30px;
}



@media  (max-width: 920px) {
    .container {
        flex-direction: column;
    }

    .feature-img {
        width: 100%;
    }

    .sidebar {
        width: 100%;
        padding-top: 2rem;
    }

    .sidebar-img {
        height: 10vh; 
    }

    .artist-detail {
        font-size: 0.8rem;
        padding: 5%;
    }

    .hero h1 {
        text-align: center;
    }

}

@media  (max-width: 400px) {

    .artist-detail {
        font-size: 0.6rem;
        padding: 3%;
    }

    .feature-img img {
        max-height: 250px;
    }

    .hero h1 {
        font-size: 2rem;
        text-align: center;
        letter-spacing: 0;
        padding: 2rem 0;
    }
    
    .hero {
        margin: 0 auto 10px;
    }

    .sidebar {
        padding: 1.5rem;
    }

}

.box-wrap {
    width: 80%;
    height: 80vh;
    margin: 10% auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.audio-player {
    width: 80%;
    color: white;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
}

.audio-player:focus {
    outline: none;
}

.close-btn {
    position: absolute;
    top: 10vh; 
    right: 8vw;
    width: 30px;
    cursor: pointer;
}

.youtube {
    width: 100%;
    height: 7vh;
    font-size: 1.8rem;
    background-color: #a4debf;
    box-shadow: 5px 10px #ffe33d;
    color: white;
    border-radius: 10px;
    margin-top: 1.5rem;
    border: 1px solid black;
}

.youtube:hover {
    background-color: azure;
    color: black;
    box-shadow: 5px 10px black;
    cursor: pointer;
    
}

.artist-detail {
    width: 80%;
    margin: 0 auto; 
    padding: 8%;
    margin-top: 2rem;
    background-color: #a4debf;
    border-radius: 6px;
    box-shadow: 5px 10px #ffe33d;
}



.artist-wiki {
    padding-top: 10px;
}

.artist-detail a {
    text-decoration: none;
    color: #008080;
    font-weight: bold;
}

.artist-detail a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}



























